div {
    border: 2px solid red;
    background-color: silver;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 150px 0;

}

#Name {
    background-color: steelblue;
}