div {
    border: 2px solid red;
    background-color: silver;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 100px;

}

#Name {
    background-color: steelblue;
}